@import 'nib'

$blue = #0b61a4
$darkblue = #25567b
$darkerblue = #033e6b
$lightblue = #3f92d2
$lighterblue = #66a3d2

$yellow = #ffbf00
$darkyellow = #bf9b30
$darkeryellow = #a67c00
$lightyellow = #ffcf40
$lighteryellow = #ffdc73

$orange = #ff4900
$darkorange = #bf5930
$darkerorange = #a62f00
$lightorange = #ff7640
$lighterorange = #ff9b73

global-reset();

html
  height 100%

body
  height 100%
  margin 0
  padding 0

#mapCanvas
  height 100%
  z-index 1

#obfuscateMap
  position absolute
  height 100%
  width 100%
  background-color #53e8bc
  opacity 0.4
  z-index 2

#showLocation
  position absolute
  font-family "Segoe UI Light","Helvetica Neue","Segoe UI","Segoe WP", "sans-serif";
  color white
  font-size 100px
  padding 100px 100px
  z-index 3
  display none

  p.step
    padding-bottom: 20px
    font-weight bold

  p.tell
    font-weight bold

  p.small
    font-size 60px
    padding-top 10px
    padding-left 10px

#timeline
  position: absolute;
  min-height: 10%;
  width: 100%;
  bottom: 0;
  opacity: .95;
  background-color: #fff;
  z-index: 2;
  padding-top: 1.2%;

  .progress
    position: relative;
    border-radius: 10px;
    height: 6px;
    margin-bottom: 12px;
    display: block;
    margin-right: 6%;
    margin-left: auto;
    z-index: 3
    opacity 1

    &::before
      content: attr(time);
      width: 35px;
      height: 24px;
      margin-left: -15px;
      border-radius: 50px;
      z-index: 3;
      background-color: inherit;
      display: block;
      font-size: x-small;
      text-align: center;
      font-family: "Segoe UI Light","Helvetica Neue","Segoe UI","Segoe WP","sans-serif";
      padding-top: 11px;
      color: white;

    &:last-child
      margin-bottom: 2%

  #marker
    background-image: url(/'marker.png');
    background-size: cover;
    position: absolute;
    height: 75%;
    right: 5px;
    z-index: 3;
    width: 5%;
    top: 15%;

#travelMode
  height 30px
  width 30px
  position absolute
  top 15px
  right 15px
  background: transparent url('//maps.gstatic.com/tactile/directions/travel_mode/sprite-1x.png') no-repeat 0 0;
  background-size: 240px 30px;
  background-position: -96px 0;
  z-index 3;
  display none
  cursor pointer

#share
  height 30px
  width 30px
  position absolute
  top 15px
  right 60px
  background: transparent url('//maps.gstatic.com/tactile/directions/travel_mode/sprite-1x.png') no-repeat 0 0;
  background-size: 240px 30px;
  background-position: -96px 0;
  z-index 3;
  display none
  cursor pointer