@import 'nib'

$blue = #0b61a4
$darkblue = #25567b
$darkerblue = #033e6b
$lightblue = #3f92d2
$lighterblue = #66a3d2

$yellow = #ffbf00
$darkyellow = #bf9b30
$darkeryellow = #a67c00
$lightyellow = #ffcf40
$lighteryellow = #ffdc73

$orange = #ff4900
$darkorange = #bf5930
$darkerorange = #a62f00
$lightorange = #ff7640
$lighterorange = #ff9b73

global-reset();

html
  height 100%

body
  height 100%
  margin 0
  padding 0

#mapCanvas
  height 100%
  z-index 1

#obfuscateMap
  position absolute
  height 100%
  width 100%
  background-color orange
  opacity 0.2
  z-index 2

#showLocation
  position absolute
  font-family "Segoe UI Light","Helvetica Neue","Segoe UI","Segoe WP", "sans-serif";
  font-size 100px
  padding 100px 100px
  z-index 3
  display none

  p.step
    padding-bottom: 20px

  p.small
    font-size 60px

// #joinRoom
//   position absolute
//   font-family "Segoe UI Light","Helvetica Neue","Segoe UI","Segoe WP", "sans-serif";
//   font-size 100px
//   padding 100px 100px
//   z-index 3

//   p
//     display: inline;

//   .roomBox
//     display: inline-block;
//     background-color: transparent;
//     border: none;
//     border-bottom: 2px solid black;
//     width: 300px;
//     margin-left: 20px;
//     font-size: 100px

//   .roomEnter
//     display none
//     cursor pointer
//     height 30px
//     margin-bottom 10px
//     margin-left -10px

#timeline
  position: absolute;
  min-height: 7%;
  width: 100%;
  bottom: 0;
  opacity: .7;
  background-color: #fff;
  z-index: 2;
  padding-top: 0.5%;

  .progress
    position: relative;
    border-radius: 10px;
    height: 3px;
    margin-bottom: 5px;
    display: block;
    margin-right: 6%;
    margin-left: auto;

    &::before
      content: attr(time);
      width: 35px;
      height: 24px;
      margin-left: -15px;
      border-radius: 50px;
      z-index: 3;
      background-color: inherit;
      display: block;
      font-size: x-small;
      text-align: center;
      font-family: "Segoe UI Light","Helvetica Neue","Segoe UI","Segoe WP","sans-serif";
      padding-top: 11px;
      color: white;

    &:last-child
      margin-bottom: 20px

  #marker
    background-image: url("http://www.clker.com/cliparts/b/7/6/5/1308001441853739087google%20maps%20pin.svg");
    background-size: cover;
    position: absolute;
    height: 75%;
    right: 0;
    z-index: 3;
    width: 5%;
    top: 5%;
